/*
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(14, 14, 14);
}
*/

nav {
    min-height: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--div-color);
    color: var(--font-color);
    box-shadow: var(--box-shadow);
}

.nav_logo {
    margin: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-style: italic;
}

nav ul {
    display: flex;
}

nav ul li {
    height: 100%;
    padding: 30px;
    list-style-type: none;
    border-bottom: 4px solid var(--div-color);
}

nav ul li:hover {
    border-bottom: 4px solid var(--font-color);
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
}

.toggle-button {
    position: absolute;
    top: 320px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: var(--font-color);
    border-radius: 100px;
}

@media(max-width:750px) {
    .list-container {
        display: none;
        width: 100%;
    }
    .toggle-button {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul {
        flex-direction: column;
        width: 100%;
    }
    .list-container li {
        text-align: center;
    }
    .list-container.active {
        display: flex;
    }
}