:root {
    /* stadard */
    --back-color: #3a4f6bd8;
    --div-color: rgb(169, 210, 223);
    --box-sh-color: rgb(224, 241, 255);
    --font-color: black;
    --link-color: yellow;
    --hover-color: orange;
    --box-shadow: 5px 7px 12px 5px var(--box-sh-color);
    /* test
    --back-color: rgba(214, 231, 255, 0.849);
    --div-color: blue;
    --font-color: green;
    --link-color: yellow;
    --hover-color: orange;
    #585292
    */
}

body {
    margin: 16px;
    color: var(--font-color);
    background-color: var(--back-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--div-color);
    background-image: url(pics/castel_bgi_V1a.png);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
}

header img {
    height: 100%;
    width: 100%;
    filter: opacity(10%);
    /*
    object-fit: cover;
    object-position: 50% 25%;
    */
}


/* ganze Navigation in respo_nav.css 
nav {
    background-color: none;
    height: 80px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

nav a {
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);
}

nav a:hover {
    color: var(--back-color);
}
*/

.main {
    min-height: 1000px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--div-color);
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadow);
}

.main img {
    height: 150px;
    width: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 50px;
}

footer {
    height: 50px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--div-color);
    box-shadow: var(--box-shadow);
}